<!--<form #newRolForm="ngForm" (ngSubmit)="onSubmit(newRolForm)">

    <mat-form-field appearance="outline">
        <mat-label>Sistema</mat-label>
        <mat-select
                [(ngModel)]="rol.system"
                [formControl]="systemFormControl"
                (selectionChange)="selectModules()"
                name="system"
                placeholder="Sistema"
                required>
            <mat-option *ngFor="let system of systems"
                        [value]="system._id">{{system.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input  matInput
                [(ngModel)]="rol.name"    
                [formControl]="nameFormControl"
                maxlength="50"
                minlength="3"
                name="name"
                placeholder="Nombre"
                required>
    </mat-form-field>

    <mat-tree *ngIf="rol.system" [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
            <button mat-icon-button disabled></button>
            <mat-checkbox class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)"
                (change)="todoLeafItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
        </mat-tree-node>

        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.item">
                <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
            </button>
            <mat-checkbox [checked]="descendantsAllSelected(node)" [indeterminate]="descendantsPartiallySelected(node)"
                (change)="todoItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
        </mat-tree-node>
    </mat-tree>

</form>-->