<mat-accordion *ngIf='systems'>
    <mat-expansion-panel (opened)='getModules(sistema._id)' hideToggle *ngFor='let sistema of systems'>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <p class="level1">
                    <button mat-icon-button>
                        <mat-icon id="expanded">
                            
                        </mat-icon>
                    </button>
                    {{sistema.name}} 
                    <button mat-icon-button [swal]="addModule" ><mat-icon>add</mat-icon></button></p>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <!--<p class="level2" *ngFor='let modulo of modules'>{{modulo.name}} <button mat-icon-button><mat-icon>add</mat-icon></button></p>-->
        
        <mat-expansion-panel *ngFor='let modulo of modules' (opened)='getSubModules(modulo.System, modulo._id)' hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <p class="level3">
                        <button mat-icon-button>
                            <mat-icon id="expanded">

                            </mat-icon>
                        </button>
                        {{modulo.name}}
                        <button mat-icon-button [swal]="addSubModule">
                            <mat-icon>add</mat-icon>
                        </button></p>
                </mat-panel-title>
            </mat-expansion-panel-header>
        
            <p *ngFor='let submodulo of submodules'>
                {{submodulo.name}}
            </p>              
        </mat-expansion-panel>
    </mat-expansion-panel>
</mat-accordion>

<swal #addModule
      cancelButtonColor='#d33'
      confirmButtonColor='#3085d6'
      confirmButtonText="Confirmar"
      showCancelButton=true
      text="Texto"
      title="Título"
      type='info'
>

<p *ngIf=''>No hay nada que mostrar</p>

id 
isActive
Permiso