<form id="rolForm" #newRolForm="ngForm" (ngSubmit)="onSubmit(newRolForm)">

    <mat-form-field appearance="outline">
        <mat-label>Sistema</mat-label>
        <mat-select [(ngModel)]="rol.system" 
                    [formControl]="systemFormControl"
                    (selectionChange)="getTree(rol.system)"
                    name="system" 
                    placeholder="Sistema" 
                    required>
            <mat-option *ngFor="let system of systems"  
                        [value]="system._id">
                {{ system.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input  matInput [(ngModel)]="rol.name" 
                [formControl]="nameFormControl" 
                maxlength="50" 
                minlength="3" 
                name="name"
                placeholder="Nombre"    
                required>
    </mat-form-field>

    <mat-tree [dataSource]="nestedDataSOurce" [treeControl]="nestedTreeControl" class="example-tree">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
          <li class="mat-tree-node">
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled></button>
            <mat-checkbox value="node._id" name="module" class="example-margin">{{node.name}}</mat-checkbox>
          </li>
        </mat-tree-node>

        <!-- This is the tree node template for expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
          <li>
            <div class="mat-tree-node">
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{nestedTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <mat-checkbox value="node._id" name="module" class="example-margin">{{node.name}}</mat-checkbox>
            </div>
            <ul [class.example-tree-invisible]="!nestedTreeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>


      </mat-tree>   
      
      <button (keydown.enter)="$event.preventDefault()" color="primary" mat-raised-button
                type="submit">Submit</button>

</form>

<swal #editSwal cancelButtonColor='#d33' confirmButtonColor='#3085d6' confirmButtonText="Confirmar"
        showCancelButton=true text="Texto" title="Título" type='info'>